* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: poppins;
}



li {
    list-style: none;
}

a {
    text-decoration: none;
}


.header{
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    height: 50px;
    background: #000;
}


.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}


.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
    position: relative;
    padding:5px 0;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

.nav-link:hover{
    color: #dcd6ff;
}

.nav-logo {
    color: #ffffff;
    font-size: x-large;
    font-style: italic;
width: 200px;
top: 8px;
left: 5%;
text-transform:uppercase;
font-family: poppins;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: rgb(2, 0, 0);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}




section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
.container {
    
    background: #FFFFFF;
    width: 600px;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin: 100px 2% 10px;
    overflow: hidden;

}
.step {
    display: none;
}
.step.active {
    display: block;
}
.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 20px;
}

.form-group:last-child {
    margin: 0;
}

.form-group label {
    display: block;
      margin: 0 0 10px;
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
      font-weight: 500;
      font-weight: bold;
      line-height: 1;
      text-transform: uppercase;
      letter-spacing: 0.2em;
}

.two .form-group label {
    color: #FFFFFF;
}

.form-group input {
    outline: none;
    display: block;
    background: rgba(0, 0, 0, 0.1);
    width: 100%; 
   border: 2px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.6);
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    
}
button.next-btn,
button.previous-btn,
button.submit-btn {
    outline: none;
    float: right;
    background: #000000;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: 3;
    transition: ease-in;
}
button.previous-btn {
    float: left;
}
button.submit-btn {
    background-color: aquamarine;
    align-items: center;
}

.finalizar-btn {

    outline: none;
    float: right;
    background: #000000;
    width: 100%;
    border: 0;
    border-radius: 4px;
    padding: 12px 20px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: 3;
    transition: ease-in;


}

#dados {
    display: column
}

footer{
 
    background: #000;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
  }
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .footer-content h3{
    font-family: 'Jost', sans-serif;
    font-weight: bolder;
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
  }
  .footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
  }
  
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  
  .socials li{
    margin: 0 10px;
  }
  
  .socials a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
  
  }
  
  .socials a i{
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
  }
  
  .socials a:hover i{
    color: aqua;
  }
  .footer-menu{
    margin-bottom: 20px;
  }
  .footer-menu ul{
    display: flex;
  }
  .footer-menu ul li{
  padding-right: 10px;
  display: block;
  }
  .footer-menu ul li a{
    color: #cfd2d6;
    padding: 6px 15px;
  
    text-decoration: none;
  }
  .footer-menu ul li a:hover{
    color: #27bcda;
  }
  @media (max-width:500px) {
    .footer-menu ul{
      display: inline;
    }
    .footer-menu ul li{
      margin-bottom: 20px;
    }
    }
  
   .fab {
    background: none;
   }
  

   
  
  
  
  