* {margin: 0px; padding: 0px; border: 0px;}

.tudo{margin-left: auto;
   margin-right: auto; 
   max-width: 100%;
   padding: 4px; 
   margin-top: 10px; 
   overflow-x: hidden;
   border: 2px solid rgb(0, 204, 255);}

.meio{ height: 4600px;
  width:100%;
  margin-left: auto; 
  margin-right: auto; 
  margin-bottom: 4px; 
  border: 2px solid rgb(212, 0, 255);}
  .menu {
    height: 50px; 
  width:99%;
  align-items: center;
  text-align: left;
  margin-left: auto; 
  margin-right: auto;  
  padding: 10px;
  background-color: #000000;
  border: 2px solid rgb(255, 0, 0);}

  .menu a { border: 2px solid paleturquoise;
    height: 100%;
color: #ffffff;
font-size: 16px;
font-family:'Candal', sans-serif;
text-decoration: none;
font-weight: bold;
margin-top: 10px;
padding-right: 20px;
background-color: rgba(0, 0, 0, 0);


}

.menu :hover {color: rgb(255, 238, 0); }

.menu img { border: 2px solid #ffffff;
  margin-top: 0.8%;
  margin-right: 2%;
  width: 10%;
}

.menusec {

  float: right;
  margin-top: 1px;
}

.inicio { border: 2px solid black;
background-color: #000000;
background-position: center;
background-size: 150%;
  height: 1000px;
  width: 100%;
  


}

.inicio p {
    font-size: 72px;
    background: rgb(234,255,0);
    background: radial-gradient(circle, rgba(234,255,0,1) 0%, rgba(234,255,0,1) 2%, rgba(213,255,0,1) 47%, rgba(217,255,0,1) 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      font-family: 'Squada One', cursive;
      font-weight: bold;
      font-size: 80px;
      position: absolute;
      top: 70%;
      left: 75%;
}

.preco {

margin: 8px;
font-weight: bold;
position: absolute;
left: 100px;
color: orangered;

}

#teclados { border: 2px solid black;
  width: 100%;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  background-color: #000000;

}

strong {

  color: rgb(255, 255, 255);
  font-family:'Candal', sans-serif;
  font-size: 80%
}

figcaption {

  color: whitesmoke;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10%;
  font-family: 'Jost', sans-serif;
  
}

.categorias {

  color: rgb(255, 255, 255);
  font-family: 'Jost', sans-serif;
  text-align: left;
  font-size: 35px;
  margin: 20px;

}


.teclados {

   display: inline-block;
  width: 33%;
  position: relative;
  height: 150px;
  padding-bottom: 25px;
  font-size: 16px;



}

.teclados img {

margin-left: 10%;
margin-bottom: 5%;

}

#mousepads { border: 2px solid black;
  width: 100%;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  background-color: black;

}

.mousepads {

   display: inline-block;
  width: 33%;
  position: relative;
  height: 150px;
  padding-bottom: 25px;
  font-size: 16px;



}

.mousepads img {

margin-left: 10%;

margin-bottom: 5px;

}


footer {height:170px; 
  width: 1340px;  
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 4px;  
  padding: 8px; 
  border: 2px solid rgb(255, 178, 11);}
