* {margin: 0px; padding: 0px; border: 0px;}

.tudo{margin-left: auto;
   margin-right: auto; 
   max-width: 100%;
   padding: 4px; 
   margin-top: 10px; 
   overflow-x: hidden;
   border: 2px solid rgb(0, 204, 255);}

.meio{ height: 8000px;
  width:100%;
  margin-left: auto; 
  margin-right: auto;
  border: 2px solid rgb(212, 0, 255);}

header {

display: block;
position: sticky;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #000000;
  height: 75px;
  vertical-align: middle;

}

.menu img {

 display: inline-block;
  float: left;
  width: 53px;
  padding-top: 8px;

}

  .menu {
  display: inline-block;
  font-size: 20px;
  line-height: 70px;
  padding-left: 170px;
}

  .menu a {
    height: 100%;
color: #ffffff;
font-size: 16px;
font-family:'Candal', sans-serif;
text-decoration: none;
font-weight: bold;
margin-top: 10px;
padding-right: 20px;
background-color: rgba(0, 0, 0, 0);


}

.menu :hover {color: rgb(255, 238, 0); }

.menu img {
  margin-top: 0.8%;
  margin-right: 2%;
  width: 10%;
}

.menusec {

  float: right;
  

}



#sobre {

margin: 0 auto;
padding: 0 auto;
width: 100%;
height: 1000px;
background-color: whitesmoke;


}


#sobre h3 {position: absolute;

top: 120%;
      right: 80%;

  color: black;
  font-size: 70px;
font-family:'Candal', sans-serif;
text-decoration: none;
font-weight: bold;


}

#sobre p {


position: absolute;

top: 155%;
      right: 80%;
      font-family: 'Jost', sans-serif;
      font-size: 24px;



}

#sobre iframe { 

position: absolute;
      top: 120%;
      left: 45%;

 }

.inicio { border: 2px solid black;
background-color: #121212;
background-position: center;
background-size: 150%;
  height: 1000px;
  width: 100%;
  


}

.inicio p {
    font-size: 72px;
    background: rgb(234,255,0);
    background: radial-gradient(circle, rgba(234,255,0,1) 0%, rgba(234,255,0,1) 2%, rgba(213,255,0,1) 47%, rgba(217,255,0,1) 100%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
      font-family: 'Squada One', cursive;
      font-weight: bold;
      font-size: 80px;
      position: absolute;
      top: 40%;
      left: 75%;
}

.preco {

margin: 8px;
font-weight: bold;
position: absolute;
left: 100px;
color: orangered;

}

#teclados {
  width: 100%;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;

}

.categorias {

  color: #D0FF00;
  font-family: 'Jost', sans-serif;
  text-align: left;
  font-size: 50px;
  margin: 20px;

}


.teclados {

   display: inline-block;
  width: 33%;
  position: relative;
  height: 150px;
  padding-bottom: 25px;
  font-size: 16px;



}

.teclados img {

margin-left: 10%;

}

.teclados figcaption { position: absolute;

  left: 20%;

  color: orangered;
  
  vertical-align: middle;
  text-decoration: none;
  font-size: 22px;
  font-family: 'Jost', sans-serif;
}

.teclados strong {

color: black;
  font-family:'Candal', sans-serif;
  font-size: 80%

}

#mousepads { 
  width: 100%;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: black;

}

.mousepads {

   display: inline-block;
  width: 33%;
  position: relative;
  height: 150px;
  padding-bottom: 25px;
  font-size: 16px;



}

.mousepads img { 


margin-left: 10%;

margin-bottom: 5px;

}

.mousepads figcaption { 


color: whitesmoke;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding-bottom: 90px;
  font-family: 'Jost', sans-serif;


}

.mousepads strong { 

color: whitesmoke;
  font-family:'Candal', sans-serif;
  font-size: 80%

}


#newsletter {

margin: 0 auto;
padding: 0 auto;
width: 100%;
height: 1000px;
background-color: #D0FF00;

}

#newsletter h3 {


  position: absolute;

top: 430%;
      right: 70%;

  color: black;
  font-size: 90px;
font-family:'Candal', sans-serif;
text-decoration: none;
font-weight: bold;



}

#newsletter p {


position: absolute;

top: 460%;
      right: 82%;
      font-family: 'Jost', sans-serif;
      font-size: 26px;



}

#newsletter form {

  font-size: 14px;

position: absolute;

top: 450%;
      right: 20%;


}

#newsletter input {

 width: 600px;
 height: 65px;



}


#monitores {
  width: 100%;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4px;
  background-color: whitesmoke;

}

.monitores {

   display: inline-block;
  width: 33%;
  position: relative;
  height: 150px;
  padding-bottom: 25px;
  font-size: 16px;



}

.monitores img { 


margin-left: 10%;

margin-bottom: 5px;

}

.monitores figcaption { 


color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding-bottom: 90px;
  font-family: 'Jost', sans-serif;


}

.monitores strong { 

color: black;
  font-family:'Candal', sans-serif;
  font-size: 80%

}


#mouses {
  width: 100%;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1px;
  background-color: black;

}

.mouses {

   display: inline-block;
  width: 33%;
  position: relative;
  height: 150px;
  margin-bottom: 20px;
  padding-bottom: 25px;
  font-size: 16px;



}

.mouses img { 







}

.mouses figcaption { 


color: whitesmoke;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  padding-bottom: 90px;
  font-family: 'Jost', sans-serif;


}

.mouses strong { 

color: white;
  font-family:'Candal', sans-serif;
  font-size: 80%

}

#conta {

margin: 0 auto;
padding: 0 auto;
width: 100%;
height: 1400px;
background-color: lightgray;


}


#conta h3 {position: absolute;

top: 725%;
      right: 80%;

  color: black;
  font-size: 70px;
font-family:'Candal', sans-serif;
text-decoration: none;
font-weight: bold;


}

#conta p {


position: absolute;

top: 155%;
      right: 80%;
      font-family: 'Jost', sans-serif;
      font-size: 24px;



}

#conta form {

background-color: transparent;
  font-size: 14px;

position: absolute;

top: 725%;
      right: 25%;


}

#conta input {

 width: 200px;
 height: 35px;
 color: black;
 font-size: 20px;



}

#conta label {

  font-size: 20px;
}

#conta legend {

font-family:'Candal', sans-serif;
font-size: 30px;
font-weight: bold;

}

footer {height:700px; 
  width: 100%;  
  background-color: #D0FF00;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 4px;  
  padding: 8px; }

  .numero { position: absolute;
    top: 885%;
    right: 4%;
font-size: 18px;
font-weight: bold;
text-decoration: none;
font-family:'Candal', sans-serif;

  }

  .copy {


position: absolute;
top: 885%;
left: 10%;
font-family: 'Arial' , sans-serif;
font-size: 10px;

  }

  .redessociais {

display: inline-block;
position: absolute;
top: 825%;
left: 4%;

  }

  .redessociais img {

padding: 35px;

  }

  .logorodape {



position: absolute;
top: 875%;
left: 6%;

  }

  .sobrerodape {

    position: absolute;
    top: 880%;
    left: 25%;
font-size: 16px;
font-weight: bold;
font-family: 'Jost', sans-serif;


  }

  .pagamentos {


display: inline-block;
position: absolute;
top: 850%;
left: 45%;
padding-right: 25px;


  }

  .pagamentos img {


padding-right: 20px;

  }